body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    background-image: url(IMAGES_INDEX/SONIC-BACKGROUND.jpg); background-size: cover; 
}

h1 {
    color: #f9744c;
    font-size: 65px;
    font-weight: 300;
    font-family: Impact;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out; 
}

button {
    font-size: 20px;
    font-family: Cambria;
    background-color: lightyellow;
    color: burlywood;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #f0e68c;
    color: lightyellow;
}
body {
            opacity: 0;
            animation: fadeInPage 1s forwards ease-in;
        }

        @keyframes fadeInPage {
            to {
                opacity: 1;
            }
        }